@import 'lemonade';

$gray: #dfe4e5;
$white: #f9f9f9;
$red: #b33300;
$body-text: #606668;
$almost-white: #f9f9f9;
$blue: #487da1;
$yellow: #d3a637;

body {
  background-color: $gray;
  color: $body-text;
  font-family: "museo-sans", helvetica, arial, sans-serif;
}

main {
  background-color: $white;
  float: left !important;
  padding: 2em !important;
  @include border-radius(9px);
}

h2 {
  font-family: "adelle", georgia, times, serif;
  color: $blue;
}

h3 {
  font-family: "jaf-domus-titling-web", helvetica, arial, sans-serif;
  color: $red;
}

aside h4 {
  color: $yellow;
}
